<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="jnome.eclipse"
         name="Jnome Eclipse"
         point="chameleon.eclipse.language">
         <bootstrapper
          class="jnome.eclipse.Bootstrapper">
         </bootstrapper>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <file-association 
       content-type="be.chameleon.eclipse.chameleonsource"
       file-extensions="java"/>
   </extension> 

</plugin>
