<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
    <extension-point id="chameleon.eclipse.language" name="Language" schema="schema/chameleon.eclipse.language.exsd"/>

   	<extension
       id="chameleon.eclipse.editors.ChameleonEditor"
       name="Chameleon Editor"
       point="org.eclipse.ui.editors">
      <editor
            class="org.aikodi.chameleon.eclipse.editors.ChameleonEditor"
            contributorClass="org.aikodi.chameleon.eclipse.editors.actions.ChameleonEditorActionContributor"
            default="true"
            icon="icons/chameleon.png"
            id="chameleon.eclipse.editors.ChameleonEditor"
            name="Chameleon Editor">
      <contentTypeBinding contentTypeId="be.chameleon.eclipse.chameleonsource"/>
      </editor>
   </extension>
   
   
   <extension
         id="ChameleonNature"
         name="Chameleon Project"
         point="org.eclipse.core.resources.natures">
         <runtime>
         	<run class="org.aikodi.chameleon.eclipse.project.ChameleonProjectNature">
         </run>
      </runtime>
      <builder id="be.chameleon.eclipse.ChameleonBuilder"/>
      <content-type id="be.chameleon.eclipse.chameleonsource"/>
   </extension>
   
   
      <extension
         id="BackgroundNature"
         name="Chameleon Background Project"
         point="org.eclipse.core.resources.natures">
         <runtime>
         	<run class="org.aikodi.chameleon.eclipse.project.ChameleonProjectNature">
         </run>
      </runtime>
      <!--<builder id="be.chameleon.eclipse.ChameleonBuilder"/> -->
   </extension>
   
   
   <extension
         id="chameleon.eclipse.project.ProjectWizard"
         name="ChameleonProject"
         point="org.eclipse.ui.newWizards"
        >
       	<category
         name="Chameleon"
         id="chameleon.category1">
   </category>
      <wizard
            class="org.aikodi.chameleon.eclipse.project.ProjectWizard"
            id="chameleon.eclipse.ProjectWizard"
            name="New Chameleon Project"
            icon="icons/chameleon.png"
            category="chameleon.category1"            
            project="true">
            <description>Creates a new Chameleon Project</description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ChameleonEditorPreferencePage"
            class="org.aikodi.chameleon.eclipse.editors.preferences.ColoringPreferencePage"
            id="ColoringPreferencePage"
            name="Syntax Coloring"/>
      <page
            category="ChameleonEditorPreferencePage"
            class="org.aikodi.chameleon.eclipse.editors.preferences.OutlinePreferencePage"
            id="OutlinePreferencePage"
            name="Outline Elements"/>
      <page
            category="ChameleonEditorPreferencePage"
            class="org.aikodi.chameleon.eclipse.editors.preferences.FormatterPreferencePage"
            id="FormatterPreferencePage"
            name="Formatting"/>
      <page
            class="org.aikodi.chameleon.eclipse.editors.preferences.ChameleonEditorPreferencePage"
            id="ChameleonEditorPreferencePage"
            name="ChameleonEditor"/>
   </extension>

<extension
      id="problemmarker" 
      point="org.eclipse.core.resources.markers" 
      name="%problemName">
      <super type="org.eclipse.core.resources.marker"/>
      <persistent value="true"/>
      <attribute name="severity"/>
      <attribute name="message"/>
      <attribute name="location"/>
   </extension>
   <extension
      id="taskmarker" 
      point="org.eclipse.core.resources.markers" 
      name="%taskName">
      <super type="org.eclipse.core.resources.marker"/>
      <persistent value="true"/>
      <attribute name="priority"/>
      <attribute name="message"/>
      <attribute name="done"/>
      <attribute name="userEditable"/>      
   </extension>
   <extension
      id="bookmark" 
      point="org.eclipse.core.resources.markers" 
      name="%bookmarkName">
      <super type="org.eclipse.core.resources.marker"/>
      <persistent value="true"/>
      <attribute name="message"/>
      <attribute name="location"/>
   </extension>
  
  <extension point ="org.eclipse.ui.actionSets">
  	<actionSet 
  		id="chameleon.eclipse.actionSet"
		label="ChameleonActions">
 
   	<action
       definitionId="chameleon.eclipse.actions.format"
       label="FormatAction.label"
       retarget="true"
       id="chameleon.eclipse.actions.format">
     </action>
     <action
       definitionId="chameleon.eclipse.actions.opensubhierarchy"
       label="HierarchyAction.label"
       retarget="true"
       id="chameleon.eclipse.actions.opensubhierarchy">
     </action>
     <action
       definitionId="chameleon.eclipse.actions.opensuperhierarchy"
       label="HierarchyAction.label"
       retarget="true"
       id="chameleon.eclipse.actions.opensuperhierarchy">
     </action>
    </actionSet>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
	<command
        name="Auto-Formatting"
        description="Auto-Formatting"
        id="chameleon.eclipse.actions.format">
  </command>
  <command
        name="opensubhierarchy"
        description="Open Sub-Type hierarchy"
        id="chameleon.eclipse.actions.opensubhierarchy">
  </command>
  <command
        name="opensuperhierarchy"
        description="Open Super-Type hierarchy"
        id="chameleon.eclipse.actions.opensuperhierarchy">
  </command>
  <command
        name="Rename Declaration"
        description="Rename Declaration"
        id="chameleon.eclipse.actions.refactoring.rename">
  </command>
  
  </extension>
  
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="chameleon.eclipse.actions.refactoring.rename"
               label="Rename this declaration">
            <visibleWhen>
              	<test property="chameleon.properties.isDeclaration"/>
            </visibleWhen>
         </command>
      </menuContribution>
  </extension>


  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.aikodi.chameleon.eclipse.property.IsDeclaration"
           id="chameleon.IsDeclaration"
           namespace="chameleon.properties"
           properties="isDeclaration"
           type="java.lang.Object">
     </propertyTester>
  </extension>
  

      
  <extension point="org.eclipse.ui.handlers">
    <handler
            class="org.aikodi.chameleon.eclipse.refactoring.RefactoringHandler"
            commandId="chameleon.eclipse.actions.refactoring.rename">
    </handler>
  </extension>

  <!-- TODO: doesn't work yet: -->
  <extension point="org.eclipse.ui.bindings">
	<key sequence="CTRL+I"
		commandId="chameleon.eclipse.actions.format"
		schemeId="default"
		contextId="org.eclipse.ui.contexts.window" />
	<scheme name="default"
		description="Default shortcuts for Chameleon"
		id="default" />
	</extension>

  <extension point="org.eclipse.ui.views" >
	  <category 
	    id="chameleon.eclipse.ChameleonEditorPlugin"
	    name="Chameleon editor">
	  </category>
	
	  <view 
		  id="chameleon.eclipse.ChameleonEditorPlugin.hierarchyview" 
		  name="Type Hierarchy"
		  icon="icons/type_hierarchy.gif"
		  category="chameleon.eclipse.ChameleonEditorPlugin"
		  class="org.aikodi.chameleon.eclipse.presentation.hierarchy.HierarchyView"/>
	
		  <view 
		  id="chameleon.eclipse.ChameleonEditorPlugin.dependency" 
		  name="Dependencies"
		  icon="icons/type_hierarchy.gif"
		  category="chameleon.eclipse.ChameleonEditorPlugin"
		  class="org.aikodi.chameleon.eclipse.view.dependency.DependencyView"/>
	
	  <view 
		  id="chameleon.eclipse.ChameleonEditorPlugin.callhierarchyview" 
		  name="Call Hierarchy"
		  icon="icons/call_hierarchy.gif"
		  category="chameleon.eclipse.ChameleonEditorPlugin"
		  class="org.aikodi.chameleon.eclipse.view.callhierarchy.CallHierarchyView"/>
	
    <view 
		  id="chameleon.eclipse.ChameleonEditorPlugin.modelview" 
		  name="Chameleon Model"
		  icon="icons/model.gif"
		  category="chameleon.eclipse.ChameleonEditorPlugin"
		  class="org.aikodi.chameleon.eclipse.developertools.modelview.ModelView"/>

	  <view 
		  id="chameleon.eclipse.ChameleonEditorPlugin.editortagtextview" 
		  name="EditorTag Text View"
		  icon="icons/model.gif"
		  category="chameleon.eclipse.ChameleonEditorPlugin"
		  class="org.aikodi.chameleon.eclipse.developertools.tagview.EditorTagTextView"/>
	
	  <view 
		  id="chameleon.eclipse.ChameleonEditorPlugin.editortaglistview" 
		  name="EditorTag List View"
		  icon="icons/model.gif"
		  category="chameleon.eclipse.ChameleonEditorPlugin"
		  class="org.aikodi.chameleon.eclipse.developertools.tagview.EditorTagListView"/>
  </extension>
  
  <extension
       id="ChameleonBuilder"
       name="Chameleon Builder" 
       point="org.eclipse.core.resources.builders">
       <builder hasNature="true"> 
       <run class="org.aikodi.chameleon.eclipse.builder.ChameleonBuilder"/> 
      </builder>
  </extension>
   
   
   <extension point="org.eclipse.ui.ide.projectNatureImages">
     <image id="chameleon.natureImage"
            natureId="be.chameleon.eclipse.ChameleonNature"
            icon="icons/chameleon.png">
     </image>
   </extension>
   
   <extension point="org.eclipse.core.contenttype.contentTypes">
     <content-type base-type="org.eclipse.core.runtime.text"
      				     id="chameleonsource"
      				     name="Chameleon Source Document"/>
   </extension>

   
</plugin>
